html, body, :root, .primary-container{
    height: 100%;
    margin: 0;
}

#primary-container{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 1fr 4fr;
    height: 100%;

    gap: 5px;
}

#header-container{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    background-color: orange;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 5px;
}

#hchp1{
    background-color: red;
}

#hchp2{
    background-color: blue;
}

#hchp3{
    background-color: green;
}

#hchp4{
    background-color: pink;
}

#sidebar-container{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: chartreuse;
}

#content-container{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background-color: burlywood;
}