html, body, :root, .primary-container{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --Dark-Purple: #27213C;
    --Light-Purple: #4d4177;
    --Caput-Mortuum: #5A352A;
    --Rufous: #A47963;
    --Chamoisee: #A33B20;
    --Sage: #A6A57A;
    --Title-Color: rgb(252, 240, 207);

    color: wheat;
    font-weight: bold;
}

#primary-container{
    display: grid;
    grid-template-columns: 1fr 6fr 4fr;
    grid-template-rows: 1fr 6fr;
    height: 100%;
}

#header-container{
    grid-column: 2 / 4;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 5px;
    background-color: var(--Caput-Mortuum);
}

.header-partition{
    padding: 10px;
}

#hchp1{
    display: grid;
    grid-template-columns: 1fr 25fr;
    gap: 10px;
    align-items: center;
}

#hchp2{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

#hchp2>img{
    height: 40px;
    width: 40px;
}

#hchp3{
    display: grid;
    grid-template-columns: 1fr 25fr;
    align-items: center;
    gap: 20px;
}

#hchp3>img{
    height: 60px;
    width: 60px;
}

#hchp4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#hchp4>button{
    border-radius: 20px;
    background-color: var(--Dark-Purple);
    font-weight: bold;
    color: wheat;
    padding: 10px;
    border: none;
    transition: background 1s, color 1s, border-radius 1s;
}

#hchp4>button:hover{
    border-radius: 6px;
    background-color: var(--Light-Purple);
    transition: background 1s, color 1s, border-radius 1s;
    color: white;
}

#sidebar-container{
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr 3fr 6fr;
    background-color: var(--Dark-Purple);
    color: wheat;
}

.dashboard-group{
    margin-left: 30px;
}

.sidebar-header{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    gap: 15px;
    margin: 30px;
    margin-top: 25px;
    font-weight: bolder;
    font-size: 1.2rem;
}

.logo{
    height: 40px;
    width: 40px;
}

#content-container{
    grid-column: 2 / 4;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--Rufous);
}

#left-content-container{
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: grid;
    grid-template-rows: 50px 1fr;

    margin: 10px;
}

#right-content-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#top-right-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    margin: 10px;
}

#bottom-right-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    margin: 10px;
}

.project-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.announcement-card-container{
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 1fr 2px 1fr 2px 1fr;

    background-color: var(--Chamoisee);

    overflow: hidden;
    border-radius: 12px;
}

.announcement-card-container>.content-card{
    grid-column: 1 / 4;
    margin: 25px;
}

.announcement-title{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.announcement-description{
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: none;
}

.off{ 
    background-color: var(--Chamoisee);
}

.on{
    background-color: var(--Rufous);
}

.trending-card-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);

    overflow: hidden;
    border-radius: 12px;
}

.content-card{
    background-color: var(--Chamoisee);
    overflow: auto;
}

.project-card-container>.content-card{
    display: grid;
    grid-template-columns: 10px 1fr;
    grid-template-rows: 5rem 1fr;
    border-radius: 12px;
}

.project-card-container>.content-card>.card-title{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-left: 25px;
    color: var(--Title-Color);
}

.project-card-container>.content-card>.card-description{
    margin: 25px;
    font-weight: normal;
}

.color-strip{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--Caput-Mortuum);
}